@import "../config/variables";

.contact__form--inner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 16px;
  margin: 40px 0 40px 0;
  form {
    .field__hidden {
      display: none;
      visibility: hidden;
    }
    .field__group {
      margin: 20px 0 20px 0;
      grid-template-columns: 1fr;
      display: grid;
      input {
        margin-top:10px;
        height: 50px;
        width: 100%;
        box-sizing: border-box;
        font-family: $bodyText;
        color: $lightGrey;
        font-size: 14px;
        font-weight: 300;
        padding: 0px 20px;
        border: 1px solid $lighterGrey;
        outline: none !important;
        border-radius: 4px;
        display: block;
      }
      textarea {
        padding: 20px 20px;
        @extend input;
      }
      label {
        padding-bottom: 20px;
        font-family: $bodyText;
      }
    }
  }
}
.contact__thanks {
  font-family: $bodyText;
}
