.HomeAbout {
  .home-about__column--wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    column-gap: 20px;
    
    .h2 {
      @include h3();
    }
    
    .img__alignCenter {
      margin: 0 auto;
      display: flex;
    }
    
    @include respond-to("xmedium") { 
      grid-template-columns: 1fr;
      width: 100%;
    }
  }
}

