body {
  background-color: $white;
  margin: 0;
  font-family: $bodyText;


  p {
    @include remCalc(17px);
    line-height: 27px;
    font-weight: 300;
  }

  h1 {
    @include h1();
  }

  h2 {
    @include h2();
  }

  h3 {
    @include h3();
  }

  h4 {
    @include h4();
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .block__spacing {
    padding: 3rem 0 3rem 0;
  }

  .section__title {
    color: $primaryGreen;
    text-align: center;
  }

  .container {
    max-width: 1200px;
    margin: 90px auto;
    padding: 0 10%;
    clear: both;

    @include respond-to("xmedium") {
      margin: 80px auto;
    }
  }

  .container__inner {
    max-width: 960px;
    margin: 0 auto;
    padding: 30px 10% 0px 10%;

    @include respond-to("xmedium") {
      padding: 10px 10% 0px 10%;
    }

  }

  .container__fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .green-bg {
    background-color: $primaryGreen;
    clip-path: inset(0 -100vmax 0 -100vmax);
    box-shadow: 0 100vmax 0 100vmax $primaryGreen;

    h1,
    p {
      color: $white;
    }
  }


  .center {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
  }

  .right {
    float: right;
    margin: 40px 0 60px 60px;
  }

  .btn__med {
    min-width: 124px;
    height: 50px;
    border-radius: 5px;
    background-color: $primaryRed;
    color: $white;
    border: none;
    font-family: $bodyText;
    padding-left: 20px;
    padding-right: 20px;
    @include remCalc(16px);
    font-weight: 300;
    transition: all 0.3s ease 0s;
    cursor: pointer;

    &:hover {
      filter: brightness(90%);
    }
  }
}