.HomeFeatured {
  .home-featured__hero {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 580px;
    width: 100vw;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: -1;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(
        to bottom,
        rgba(10, 10, 10, 0.2) 0%,
        rgba(10, 10, 10, 0.35) 35%,
        rgba(10, 10, 10, 0.55) 55%
      );
    }
  }

  .home-featured__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 580px;
  }

  .home-featured__info {
    max-width: 500px;
    margin-top: 40px;
  }

  .home-featured__title {
    margin: 0 0 30px 0;
  }

  .home-featured__subtitle {
    font-family: $bodyText;
    @include remCalc(15px);
    line-height: 24px;
    font-weight: 300;
    color: $white;
    margin: 0 0 30px 0;
  }
}
