@import "../constants/_variables.styles.scss";

form {
  input, textarea {
    height: 50px;
    font-family: $bodyText;
    color: #b0b0b0;
    font-size: 14px;
    font-weight: 300;
    padding: 0px 20px;
    border: 1px solid #e9e9e9;
    outline: none !important;
    border-radius: 4px;
  }
}
