.contact__form--inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 16px;
    margin: 40px 0 40px 0;
    form {
        .field__hidden {
            display: none;
            visibility: hidden;
        }
        .field__group {
            margin: 20px 0 20px 0;
            grid-template-columns: 1fr;
            display: grid;
            label {
                padding-bottom: 20px;
                font-family: $bodyText;
                span.required {
                    &:after {
                        content: "*";
                        padding-left: 5px;
                        color: $primaryRed;
                    }
                }

                input {
                    margin-top: 10px;
                    height: 50px;
                    width: 100%;
                    box-sizing: border-box;
                    font-family: $bodyText;
                    color: $grey;
                    @include remCalc(14px);
                    font-weight: 300;
                    padding: 0px 20px;
                    border: 1px solid $lighterGrey;
                    outline: none !important;
                    border-radius: 4px;
                    display: block;
                    &::placeholder {
                        color: $lightGrey; 
                    }
                }

                textarea {
                    height: 100px;
                    padding-top: 15px;
                    @extend input;
                }
            }
        }
    }
}
.ContactSuccess {
    .contact__thanks {
        padding-top:25px;
        font-family: $bodyText;
    }
}
