@import "../../scss/config/_variables.scss";

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: $white;
  background-color: lighten($primaryGreen, 10%);
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 60px;
  &.active {
    overflow-x: visible;
    width: 300px;
    a {
      opacity:1;
    }
  }
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $white;
    display:block;
    opacity:0;
    transition: opacity 0.5s ease-in-out;
    &:hover {
      color: #f1f1f1;
      opacity: 0.75;
    }
  }

  .sidebar-closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 34px;
    margin-left: 50px;
    opacity: 1;
    cursor: pointer;
    &:hover {
      opacity: 0.75;
    }
  }
}
