.Nav {
  .nav__wrapper {
    background: $offwhite;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    @include z-index(nav);
    overflow: visible;
    display: flex;
    flex-direction: row;
    @include respond-to("xmedium") {
      height: 85px;
    }
    .nav__items {
      display: flex;
      width: 1200px;
      max-width: 1200px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 10%;
      @include respond-to("xlarge") {
        padding: 0 4%;
      }
      margin: 0 auto;
      .nav__item--logo {
        outline:none;
        img {
          outline:none;
          height: 50px;
          @include respond-to("large") {
            height: 42px;
          }
        }
      }
      .nav__item--links-container {
        .nav__item--link {
          @include respond-to("xmedium") {
            display: none;
          }
          font-family: $bodyText;
          @include remCalc(18px);
          font-weight: 400;
          color: $primaryGreen;
          transition: all 0.3s ease 0s;
          text-decoration: none;
          margin-left: 40px;
          @include respond-to("large") {
            margin-left:25px;
          }
          
          &.active {
            color: $primaryRed;
          }
          &:hover {
            color: darken($primaryRed, 20%);
            img {
              filter: brightness(75%);
            }
          }
        }
        .nav__item--phone {
          color: $primaryRed;
          font-family: $bodyText;
          @include remCalc(18px);
          font-weight: 700;
          transition: all 0.3s ease 0s;
          text-decoration: none;
          margin-left: 40px;
          border-bottom: 4px solid $primaryRed;
          padding-bottom: 35px;
          @include respond-to("xmedium") {
            border-bottom: none;
            margin-left: 0px;
            padding-bottom: 0px;
            padding-right: 10px;
          }
          .nav__item--phone-number {
            padding-left: 10px;
            @include respond-to("xmedium") {
              display: none;
            }
            &:hover {
              border-color: darken($primaryRed, 20%);
            }
          }
        }
      }
    }
    .nav__item--mobile-menu {
      cursor: pointer;
      display: none;
      @include respond-to("xmedium") {
        display: block;
        @include remCalc(22px);
        color: $primaryGreen;
        padding-left: 10px;
      }
    }
  }
}
