@import "../../constants/_variables.styles.scss";

nav {
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  overflow: visible;
  .nav__item--logo {
    height: 50px;
  }
  .nav__items {
    background-color: transparent;
    padding: 0 10%;
    border: none;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    .nav__item--left {
      margin-right: auto;
    }
    .nav__item--link {
      font-family: $bodyText;
      font-size: 18px;
      font-weight: 700;
      color: $primaryGreen;
      transition: all 0.3s ease 0s;
      text-decoration: none;
      margin-left: 40px;
      &:hover {
        color: $primaryRed;
      }
    }
    .nav__item--phone {
      color: $primaryRed;
      font-family: $bodyText;
      font-size: 18px;
      font-weight: 700;
      transition: all 0.3s ease 0s;
      text-decoration: none;
      margin-left: 40px;
      &:hover {
        color: darken($primaryRed, 20%);
      }
    }
    .active {
      color: $primaryRed;
    }
  }
}
